html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  height: 100vh;
  margin: 0;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  width: 100%;
}

.title {
  font-size: 84px;
  text-align: center;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.user-date {
  margin: 0 auto;
  width: 400px;
}

.user-date__title {
  text-transform: uppercase;
}

.wrap-news {
  width: 1000px;
  margin: 0 auto;
}

.news {
  display: flex;
  flex-direction: column;
    &__content {
      display: flex;
      flex-direction: row;
      margin:0;
    }
    &__text {
      margin-left: 15px;
      overflow-x: hidden;
    }
    &__author {
      text-align: right;
    }
    &__date {
      text-align: right;
    }
    &__control-buttons {
      display: flex;
    }
}

.glyphicon.glyphicon-remove-sign {
  color: red;
}

.form-news {
  width: 600px;
  margin: 0 auto;
}

.form-edit-news {
  padding: 14px;
}

.modal-delete {
  &__icn-remove {
    margin-right: 5px;
  }
}

